<!doctype html>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ '/static/styles.css'|url }}">
<link rel="stylesheet" href="{{ get_pygments_stylesheet()|url }}">
<title>{% block title %}Hello{% endblock %} | Abelujo</title>
<body class="{% block bodyclass %}default{% endblock %}">
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
          data-toggle="collapse" data-target="#navbar"
          aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ '/'|url }}">Abelujo</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          {% for id, item in bag('menu').iteritems() %}
            <li{% if this.is_child_of(item.path) %} class="active"{% endif
              %}><a href="{{ item.path|url }}">{{ item.label }}</a></li>
            {% endfor %}
            <li><a href="https://framasphere.org/u/abelujo">Blog</a></li>
            <li><a href="https://framavox.org/g/V6oiDr8Y/abelujo">Forum</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="body-wrapper">
    {% block outerbody %}
    <div class="container">
      {% block body %}{% endblock %}
    </div>
    {% endblock %}
  </div>

  {% block bottomsummary %}
  <div class="bottomsummary">
    <div class="container">
    </div>
  </div>
  {% endblock %}

  {% block footer %}
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-2 icon-bar">
          <a href="https://gitlab.com/vindarel/abelujo/" title="Abelujo on Gitlab"
            ><i class="fa fa-github"></i></a>
          <a href="https://gitlab.com/vindarel/abelujo/issues/" title="Report Issues for Abelujo"
            ><i class="fa fa-bug"></i></a>
          {%- if this.path %}
          <a href="https://gitlab.com/vindarel/abelujo-website/tree/master/content{{ this.path
            }}/contents.lr" title="View source for this page"><i class="fa fa-code"></i></a>
          {%- endif %}
        </div>

        <div class="col-sm-3"> Photo: 
          <a href="https://www.flickr.com/photos/ninasclicks/">ninacsclicks</a>
        </div>

        <div class="col-sm-7">
          {% if this.path %}
          <a href="{{'.'|url(alt='fr')}}">Français</a> •
          <a href="{{'.'|url(alt='en')}}">English</a> •
          <a href="{{'.'|url(alt='es')}}">Castellano</a> •
          <a href="{{'.'|url(alt='de')}}">Deutsch</a> •
          {% endif %}
          Made in Toulouse
        </div>
      </div>
    </div>
  </footer>
  {% endblock %}

  <script type=text/javascript src="{{ '/static/app.js'|asseturl }}" charset="utf-8"></script>
  <!-- script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-70822533-1', 'auto');
    ga('send', 'pageview');
  </script -->
  <!-- <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script> -->
</body>
